
/* Your CSS Code here. */
.holder div{
	width :100px;
	height: 100px;
}

.holder{
	display :  flex;
	flex-flow : row wrap;
	justify-content: center;
}
.item1{
	background-color: green
}
.item2{
	background-color:red;
}
.item3{
	background-color: blue;
}